In [7]:
import pandas as pd, numpy as np, sys
sys.path.insert(0, '/home/croth/QTL-functions/SCRIPTS/')
import qtlfunctions as qtlfun

In [9]:
gffpath = '/home/croth/Downloads/B3502/REF/FungiDB-48_CneoformansJEC21.gff.gz'
gff = qtlfun.loadgff(gffpath)
gff.head()

,Seqid,Source,Type,Start,End,Score,Strand,Phase,Attribute,Parent,Gene
0,AE017352.1,VEuPathDB,gene,713524,714773,.,-1,.,ID=CNL06190;description=aldo-keto reductase%2C...,CNL06190,CNL06190
1,AE017352.1,VEuPathDB,mRNA,713524,714773,.,-1,.,ID=CNL06190-t26_1;Parent=CNL06190;description=...,CNL06190,CNL06190
2,AE017352.1,VEuPathDB,exon,713524,713666,.,-1,.,ID=exon_CNL06190-E5;Parent=CNL06190-t26_1,CNL06190-t26_1,CNL06190
3,AE017352.1,VEuPathDB,exon,713720,713815,.,-1,.,ID=exon_CNL06190-E4;Parent=CNL06190-t26_1,CNL06190-t26_1,CNL06190
4,AE017352.1,VEuPathDB,exon,713866,714350,.,-1,.,ID=exon_CNL06190-E3;Parent=CNL06190-t26_1,CNL06190-t26_1,CNL06190

In [16]:
rhoname = 'CNC06490'
rhogene = gff[(gff.Parent==rhoname) & (gff.Type=='gene')]

rhopos = np.arange(rhogene.Start.min()-1,rhogene.End.min()+1,1)

rhogene

,Seqid,Source,Type,Start,End,Score,Strand,Phase,Attribute,Parent,Gene
82135,AE017343.1,VEuPathDB,gene,1892361,1896258,.,-1,.,ID=CNC06490;description=Rho GTPase activator%2...,CNC06490,CNC06490

In [2]:
gtpath = '/home/croth/Self-Filamentation_B3502_progeny/GENOTYPE/B3502_stock_variants.csv.gz'

In [4]:
geno = pd.read_csv(gtpath,index_col=0)
geno.head()

,Seqid,Pos,Qual,Callrate,Nallele,Alleles,Maxlen,Minlen,Depth,Type,Chrom,Oldix,B3502_A1,B3502_B1,B3502_B7,CF830,Oldgeneix
2935,AE017341.1,530127,15706.400,1.0,1,C.G,1,1,2120,snp,1,2935,0.0,0.0,0.0,1.0,2935
4644,AE017341.1,884619,11033.600,1.0,1,G.A,1,1,790,snp,1,4644,1.0,1.0,1.0,0.0,4644
5261,AE017341.1,1032506,11176.400,1.0,1,T.C,1,1,1121,snp,1,5261,1.0,1.0,1.0,0.0,5261
7282,AE017341.1,1430787,495.554,1.0,1,G.T,1,1,595,snp,1,7282,0.0,1.0,0.0,0.0,7282
8773,AE017341.1,1694543,36510.300,1.0,1,G.C,1,1,1639,snp,1,8773,1.0,1.0,1.0,0.0,8773

In [18]:
geno[(geno.Seqid==rhogene.Seqid.min()) & (geno.Pos.isin(rhopos))]

,Seqid,Pos,Qual,Callrate,Nallele,Alleles,Maxlen,Minlen,Depth,Type,Chrom,Oldix,B3502_A1,B3502_B1,B3502_B7,CF830,Oldgeneix
35368,AE017343.1,1894056,20465.1,1.0,1,G.A,1,1,1550,snp,3,12607,1.0,1.0,1.0,0.0,12607

In [5]:
rhopath = '/home/croth/Downloads/B3502/GENES/Stock1/CNC06490-t26_1.csv.gz'
rho = pd.read_csv(rhopath,index_col=0)

if rho.Strand.max()<0:
    rho = rho[::-1]
    
rho['Zeropos'] = np.abs(rho.Pos - rho.Pos.tolist()[0])+1

rho.head()

,Pos,Ref,Alt,Isvar,Strand,Type,Phase,Gene,Sample,Zeropos
3897,1896258,A,A,0,-1,5,-1,CNC06490-t26_1,Stock1,1
3896,1896257,A,A,0,-1,5,-1,CNC06490-t26_1,Stock1,2
3895,1896256,T,T,0,-1,5,-1,CNC06490-t26_1,Stock1,3
3894,1896255,G,G,0,-1,5,-1,CNC06490-t26_1,Stock1,4
3893,1896254,A,A,0,-1,5,-1,CNC06490-t26_1,Stock1,5